* {
  margin: 0;
  padding: 0;
}
#box-model {
  width: 100px;
  height: 100px;
  background-color: red;
  padding: 10px;
  border: 10px solid black;
  margin: 10px;
}
.btn {
  border: none;
  /* top  right bottom left */
  padding: 10px 5px 10px 5px;
  background-color: aqua;
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px 10px 5px 10px;
  /* padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 5px;
  padding-left: 5px; */
}
.btn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

a:hover {
  color: red;
  text-decoration: none;
}

a:active {
  color: green;
}

a:visited {
  color: gold;
}
p {
  color: red;
  font-style: italic;
  background: linear-gradient(to right, yellow, green);
}
.p {
  font-style: normal;
  color: blue;
}
.c {
  font-style: inherit;
  color: inherit;
  background: radial-gradient(circle, orange, violet);
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 1rem;
}
