.btn {
  padding: 10px;
  border-radius: 5px;
  width: 70px;
  border: none;
  font-weight: 600;
}
.btn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.btn-primary {
  background-color: rgb(143, 70, 143);
}
.btn-sec {
  background-color: coral;
}
.btn-info {
  background-color: darkcyan;
}
.btn-conatainer {
  padding: 50px;
  margin: 20px;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

#result-div {
  text-align: center;
  font-weight: 900;
  font-size: larger;
  padding: 10px;
  margin: 5px;
}

.btn-out {
  background-color: rgb(73, 218, 73);
}

.btn-int {
  background-color: rgb(207, 113, 25);
}
