h1 {
  color: orange !important;
}
/* Proerties and values  */
/* List property */
ul {
  list-style-type: square;
  /* list-style: circle inside url("./mini_emoji.png"); */
}
/* Font property */
p {
  font-size: 10px;
  font-family: sans-serif;
  font-weight: 600;
}
/* Text Property */
p {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 2;
  letter-spacing: 1px;
}
/* Border property */
p {
  /* border-width border-style border-color */
  border: 10px solid palegreen;
  border-radius: 5px;
}

.bg-red {
  background-color: red;
}

.text-light {
  color: white;
}

#text-it {
  font-style: italic;
}

#text-small {
  font-size: smaller;
  color: black;
}
.container {
  border: 1px solid black;
}

.dis-con {
  border: 5px solid red;
}

.block {
  display: inline;
  background-color: red;
  margin: 5px;
  /* width: 70px;
  height: 20px;  wont work in inline elements*/
  text-align: center;
}

.inline {
  display: block;
  background-color: red;
  margin: 5px;
  text-align: center;
  width: 70px;
  height: 20px;
}

.block-inline {
  display: inline-block;
  background-color: red;
  margin: 5px;
  width: 70px;
  height: 20px;
  text-align: center;
}
